torch==2.4.1
numpy==1.26.4
torchvision
transformers
huggingface-hub
peft
accelerate
datasets==3.3.2
scipy
tqdm
wandb
pillow
wrapt
py-cpuinfo
hjson
scikit-learn
scikit-image
qwen_vl_utils
ray
timm
sentencepiece
opencv-python
decord
hnswlib
einops
flash-attn
